:root{
  --boxSize: 2em;
  --maxBoxSize: 11vw;
  --subboardMargin: 1em;
  --pieceSize: 15%;
  --optionSize: 5%;
  --arrowBodyWidth: 0.25;
  --arrowHeadWidth: 0.35;
  --movet: 0.3s;
  --fakeSize: 1.2em;
  --crownOutlineScale: 0.90;
  --betweenBoardSpace: 1.5vmin;

  --bgColor: #282c34;
  --footerColor: #111317;
  --contentVerticalMargin: 0;
  --footerLinkColor: #4c4e51;
  --footerLinkHoverColor: white;
}

.App {
  text-align: center;
}

div{
  margin: 0;
}

.App-container {
  background-color: var(--bgColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vh);
  color: white;
  padding-top: 4em;
}

.myBtn {
  color: white;
  border-radius: 0;
  border-width: 1px;
  border-color: gray;
}

.myBtn:hover {
  background-color: gray;
}

.mainContent {
  flex: 1;
}

.Title {
  font-size: 2em;
}

.btn {
  font-size: min(1em, 5vw);
}

.btn.disabled {
  border: 0;
}