:root{
  --boxSize: 50px;
  --maxBoxSize: 11vw;
  --subboardMargin: 1em;
  --pieceSize: 15%;
  --optionSize: 5%;
  --arrowBodyWidth: 0.25;
  --arrowHeadWidth: 0.35;
  --movet: 0.3s;
  --fakeSize: 1.2em;
  --crownOutlineScale: 0.90;
  --betweenBoardSpace: 0.75em;

  --bgColor: #282c34;
  --contentVerticalMargin: 5em;
}

.App {
  text-align: center;
}

div{
  margin: 0;
}

.App-header {
  background-color: var(--bgColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.myBtn {
  color: white;
  border-radius: 0;
  border-width: 1px;
  border-color: gray;
}

.myBtn:hover {
  background-color: gray;
}