
:root{
    --boxSize: 50px;
    --maxBoxSize: 11vw;
    --subboardMargin: 1em;
    --pieceSize: 15%;
    --optionSize: 5%;
    --arrowBodyWidth: 0.25;
    --arrowHeadWidth: 0.35;
    --movet: 0.3s;
    --crownWidth: 1.2em;
    --crownHeight: 0.75em;
    --crownOutlineScale: 0.90;
}

.cell {
    position: relative;
    width: var(--boxSize);
    height: var(--boxSize);
    max-width: var(--maxBoxSize);
    max-height: var(--maxBoxSize);
    background-color: lightgoldenrodyellow;
    display: inline-block;
}

/*
.cell.interactable:hover {
    background-color: red;
}
*/

.fullBoardContainer {
    width: 500px;
}

.cell.interactable:hover::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.6);
    content: ' '
}


.cell.selected {
    background-color: gray;
    background-color: rgba( 0.2,0.2,0.2,0.6);
    pointer-events: none;
}

.lightBoardDarkCell {
    background-color: goldenrod;
}

.darkBoard {
    background-color: lightskyblue;
}

.darkBoardDarkCell {
    background-color: lightslategray;
}

.moveOption {
    background-color: darkgreen;
    width: var(--optionSize);
    height: var(--optionSize);
    margin-left: calc( 100% / 8 - var(--optionSize)/2 );
    margin-top: calc( 100% / 8 - var(--optionSize)/2 );
    border-radius: 50%;
    pointer-events: none;
}

.subboard {
    line-height: 0;
    position: relative;
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    width: calc( var(--boxSize) * 4 );
    height: calc( var(--boxSize) * 4 );
    max-width: calc( var(--maxBoxSize) * 4 );
    max-height: calc( var(--maxBoxSize) * 4 );
}

.topBoardRow {
    line-height: 3em;
}

.coord {
    background-color: transparent;
    font-size: 0.5em;
}

.nameBar {
    overflow: visible;
    position: relative;
}

.token {
    height: var(--pieceSize);
    width: var(--pieceSize);
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.fake {
    margin-left: 20%;
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    overflow: visible;
}

.fake::after {
    content: '.';
    color: transparent;
}

.crown {
    position:absolute;
    overflow: visible;
    width: var(--crownWidth);
    height: var(--crownHeight);
    top: -0.5em;
    left: -0.25em;
    background-color: black;
    transform: rotate(-15deg);
    clip-path: polygon(0% 100%, 100% 100%, 100% 15%, 75% 75%, 50% 0%, 25% 75%, 0% 15% );
}

.crown::after {
    left: calc( (1 - var(--crownOutlineScale))/2 * 1em );
    top: calc( (1 - var(--crownOutlineScale))/2 * 1em );
    position: absolute;
    width: calc( var(--crownWidth) * var(--crownOutlineScale) );
    height: calc( var(--crownHeight) * var(--crownOutlineScale) );
    background-color: gold;
    clip-path: polygon(0% 100%, 100% 100%, 100% 15%, 75% 75%, 50% 0%, 25% 75%, 0% 15% );
    content: '.';
    color: transparent;
}

.token.real{
    pointer-events: none;
    position: absolute;
    margin-left: calc( 100% / 8 - var(--pieceSize)/2 );
    margin-top: calc( 100% / 8 - var(--pieceSize)/2 );
    transition: left var(--movet), top var(--movet);
}

.token.white{
    background-color: white;
    border-color: black;
}

.token.black{
    background-color: black;
    border-color: white;
}

.betweenSubboard::after{
    content: 'ml';
    visibility: hidden;
}

.abso{
    position: absolute;
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 100%/4;
    margin-top: 100%/4;
    overflow: visible;
    pointer-events: none;
}

.arrowBody {
    position: absolute;
    width: calc( var(--boxSize) * var(--arrowBodyWidth) );
    left: calc( var(--boxSize) * var(--arrowBodyWidth) / -2 );
    bottom: 0;
    background-color: rgba( 0, 255, 0, 0.6 );
    overflow: visible;
}
.straightShort .arrowBody {
    height: calc( var(--boxSize) * 0.6 );
}
.straightLong .arrowBody {
    height: calc( var(--boxSize) * 1.7 );
}
.diagShort .arrowBody {
    height: calc( var(--boxSize) * 1.1 );
}
.diagLong .arrowBody {
    height: calc( var(--boxSize) * 2.5 );
}

.arrowHead {
    position: absolute;
    top: calc( var(--boxSize) * -1 * var(--arrowHeadWidth) );
    left: calc( var(--boxSize) * ( var(--arrowBodyWidth)/2 - var(--arrowHeadWidth) ));
    width: 0;
    height: 0;
    border-left: calc( var(--boxSize) * var(--arrowHeadWidth) ) solid transparent;
    border-right: calc( var(--boxSize) * var(--arrowHeadWidth) ) solid transparent;
    border-bottom: calc( var(--boxSize) * var(--arrowHeadWidth) ) solid rgba( 0, 255, 0, 0.6 );;
}

.column {
    float: left;
    width: 50%;
}

.topSpace {
    height: 4em;
    color: transparent;
}