
:root{
    --boxSize: 50px;
    --subboardMargin: 1em;
    --pieceSize: 50%;
}
.cell {
    width: var(--boxSize);
    height: var(--boxSize);
    background-color: lightgoldenrodyellow;
    display: inline-block;
}

.lightBoardDarkCell {
    background-color: goldenrod;
}

.darkBoard {
    background-color: lightskyblue;
}

.darkBoardDarkCell {
    background-color: lightslategray;
}

.subboard {
    display: inline-block;
    margin-right: var(--subboardMargin);
    margin-bottom: var(--subboardMargin);
    width: calc( var(--boxSize) * 4 + var(--subboardMargin));
    height: calc( var(--boxSize) * 4 + var(--subboardMargin));
}

.coord {
    background-color: transparent;
    font-size: 0.5em;
}

.token{
    height: var(--pieceSize);
    width: var(--pieceSize);;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 25%;
    outline-style: solid;
    outline-width: 2px;
}

.whiteToken{
    background-color: white;
    outline-color: black;
}

.blackToken{
    background-color: black;
    outline-color: white;
}