.footer {
    position: relative;
    width: 100%;
    margin-top: 1em;
    padding: 0.25em;
    text-align: start;
    float: left;
    background-color: var(--footerColor);
}

.footerLeftSide {
    display: inline-block;
    width: 50%;
}

.footerRightSide {
    width: 50%;
    display: inline-block;
    text-align: end;
}