.footer {
    position: relative;
    width: 100%;
    margin-top: 1em;
    padding: 0.25em;
    text-align: start;
    float: left;
    background-color: var(--footerColor);
}

.footerLeftSide {
    display: inline-block;
    width: 50%;
}

.footerRightSide {
    width: 50%;
    display: inline-block;
    text-align: end;
}

.footerLinks {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--footerLinkColor);
    font-size: 0.7em;
}

.footerLinks a {
    margin: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.75em;
    color: var(--footerLinkColor);
}

.footerLinks a:hover {
    color: var(--footerLinkHoverColor);
}

.howToPlayBtn {
    overflow: hidden;
    white-space: nowrap;
}