


.sideSelector {
    border-radius: 0;
}

.sideSelector.selected {
    border-color: black;
    background-color: rgba(255,255,255,0.4);
}

.line {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: gray;
    content: " hello ";
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.inputSpace {
    margin-bottom: 0.5em;
}

.topSpace {
    padding-top: var(--contentVerticalMargin);
}