.findGamePageContent {
    padding: var(--contentVerticalMargin);
    padding-left: 0;
    padding-right: 0;
    vertical-align: top;
}

.findGameToken {
    height: 1em;
    width: 1em;
}

.findGameToken {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.25em;
}

.findGamePlayerName {
    margin-left: 0.5em;
}

.findGamePlayerColomn {
    padding-right: 0.5em;
}

.findGameBottomOfResults {
    padding-top: 1em;
}