

.loginBox {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.4em;
}

.myLink {
    color: gray;
    border: none;
    background: none;
    text-decoration: underline;
}

.myLink:hover {
    cursor: pointer;
    color: white;
}

.logoutBtn {
    float: right;
    font-size: 0.5em;
}

.loggedInAs {
    font-size: 0.75em;
    float: right;
}

.gameButton {
    float: right;
}