.arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 100%/4;
    margin-top: 100%/4;
    overflow: visible;
    pointer-events: none;
}

.arrowBody {
    position: absolute;
    width: calc( var(--boxSize) * var(--arrowBodyWidth) );
    left: calc( var(--boxSize) * var(--arrowBodyWidth) / -2 );
    bottom: 0;
    background-color: rgba( 0, 255, 0, 0.6 );
    overflow: visible;
}
.straightShort .arrowBody {
    height: calc( var(--boxSize) * 0.6 );
}
.straightLong .arrowBody {
    height: calc( var(--boxSize) * 1.7 );
}
.diagShort .arrowBody {
    height: calc( var(--boxSize) * 1.1 );
}
.diagLong .arrowBody {
    height: calc( var(--boxSize) * 2.5 );
}

.arrowHead {
    position: absolute;
    top: calc( var(--boxSize) * -1 * var(--arrowHeadWidth) );
    left: calc( var(--boxSize) * ( var(--arrowBodyWidth)/2 - var(--arrowHeadWidth) ));
    width: 0;
    height: 0;
    border-left: calc( var(--boxSize) * var(--arrowHeadWidth) ) solid transparent;
    border-right: calc( var(--boxSize) * var(--arrowHeadWidth) ) solid transparent;
    border-bottom: calc( var(--boxSize) * var(--arrowHeadWidth) ) solid rgba( 0, 255, 0, 0.6 );;
}