.homeButton {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    border-radius: 0;
    color: white;
    font-size: min(0.75em, 3vw);
    border: 0;
    padding: 0.2em;
}

.shobuIcon {
    pointer-events: none;
    position: absolute;
    overflow: visible;
    width: 10em;
    left: 1em;
}

.shobuName {
    /* -webkit-text-stroke: 1px black; */
}

.nameHolder {
    font-size: 2em;
    position: relative;
    text-align:left;
    left: 1.5em;
    top: 1.5em;
    width: 6em;
    z-index: 1;
}

.hoverLift {
    transition: transform 0.25s;
    transform: translateY(0);
}

.hoverLift:hover {
    transform: translateY(-0.1em);
}