.moveRow {
    font-size: 0.75em;
    max-width: 20em;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.moveRow.even {
    background-color: rgba(0,0,0,0.15);
}

.rowItem {
    /* float: left; */
    flex: 1 1 auto;
}

.numberHolder {
    width: 9%;
    font-size: 0.75em;
    padding-top: 0.3em;
}

.moveDisplay {
    width: calc( ( 100 - 10 ) / 2 * 1% );
    color: white;
    border-radius: 0;
    text-align: left;
}

.moveDisplay.selected {
    background-color: slategray;
}

.moveDisplay:hover {
    background-color: gray;
}

.moveListContainer {
    max-width: 20em;
}

.moveListSuperContainer {
    float: right;
    max-width: 20em;
}